.row-header {
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 350px;
}

.footer {
    background-color: #D1C4E9;
    margin:0 auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
    background-color: #512DA8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

body.modal-open {
    overflow: auto;
}

body.modal-open[style] {
    padding-right: 0px !important;
}


.carousel {
    /*background:#512DA8;*/
}
.carousel-item{
    height: 600px;
}

@media screen and (max-width: 1200px) {
    .carousel-item {
        height: 400px;
    }
}

@media screen and (max-width: 750px) {
    .carousel-item {
        height: 270px;
    }
}

@media screen and (max-width: 450px) {
    .carousel-item {
        height: 170px;
    }
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    /*min-height: 350px;*/
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 4px;
    /*margin: 1px;*/
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 4px;
    background-color: #ffffff;
}


.navbar-text a{
    cursor: pointer;
    margin-left: 0;
}

.dropdown-menu {
    background-color: #D1C4E9;
    color: #512DA8;
    font-family: "Times New Roman";
    font-size: 1em;
    margin:10px;
    border-radius:7%;
}

.dropdown-header{
    font-family: sans-serif ;
    font-weight: bold;
}

.menu-item{
    text-indent: 1.5em;
}

.menu-item :hover{
    font-weight: bolder;
    cursor: pointer;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

 .selcls {
     padding: 9px;
     border: solid 1px #517B97;
     outline: 0;
     background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));
     background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);
     box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
     -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
     -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

 }





